---
layout: theme
permalink: /proyectos/index.html
title: Nuestros proyectos | CORSAVE
---
<div class="main">
  <div data-testid="main.sections" class="main__sections main__sections--space">
    {% include sections/rich-text.liquid
        first_column=6
        first_column_mobile=12
        second_column=6
        second_column_mobile=12
        heading="Nuestros Proyectos"
        text=""
        direction="left"
    %}

    {% include sections/image-with-text.liquid
      heading="Oficinas y Grifo La Estrella"
      text="Arequipa - JLB y Rivero"
      image="/assets/Fachada_111_1_7ba63caf82.jpg"
      image_position="left"
    %}

    {% include sections/image-with-text.liquid
      heading="Multifamiliar Bancarios"
      text="Arequipa - JLB y Rivero"
      image="/assets/BANCARO_2_6da604b772.jpg"
      image_position="left"
    %}

    {% include sections/image-with-text.liquid
      heading="Multifamiliar Santa Lucia"
      text="JLB y Rivero"
      image="/assets/ax_fe1186b049.jpg"
      image_position="left"
    %}

    {% include sections/image-with-text.liquid
      heading="Unifamiliar La Joya"
      text="La Joya"
      image="/assets/aa_b8407a6904.jpg"
      image_position="left"
    %}

    {% include sections/image-with-text.liquid
      heading="Cevichera Pulpos"
      text="Paucarpata Arequipa"
      image="/assets/FF_7e3a885e3e.jpg"
      image_position="left"
    %}

    {% include sections/image-with-text.liquid
      heading="CITV Citemax"
      text="JLB y Rivero"
      image="/assets/IMG_4565_1_8409ec86f5.jpg"
      image_position="left"
    %}

    {% include sections/separator.liquid
      size="outer"
      image="/assets/footer_label_pc.svg"
      title=""
    %}
  </div>
</div>