---
layout: theme
permalink: /servicios/index.html
title: Nuestros servicios | CORSAVE
---
<div class="main">
  <div data-testid="main.sections" class="main__sections main__sections--space">
    {% include sections/rich-text.liquid
        first_column=6
        first_column_mobile=12
        second_column=6
        second_column_mobile=12
        heading="Nuestros Servicios"
        text="En Corsave nos especializamos en construcción, diseño de interiores y habilitación urbana, ofreciendo soluciones integrales en arquitectura e inmobiliaria. Con un enfoque en la calidad y la innovación, nos dedicamos a transformar espacios, desde la planificación urbana hasta la creación de ambientes interiores sofisticados, asegurando proyectos que combinan funcionalidad y estética para satisfacer las necesidades de nuestros clientes."
        direction="left"
    %}

    {% include sections/image-with-text.liquid
      heading="Construcción"
      text="<p>Contamos con el mejor equipo de profesionales para ofrecer la mejor ejecución de obras y otros proyectos de construcción, y todo tipo de soluciones que su proyecto requiera, con la garantía y seguridad que usted necesita. Así como en las obras civiles y edificaciones en general, cuidando los acabados y detalles arquitectónicos de acuerdo a la exigencia de nuestros clientes.</p>"
      image="/assets/aaaaa_1_2459a7fe13.jpg"
      image_position="left"
    %}

    {% include sections/image-with-text.liquid
      heading="Diseño de Interiores"
      text="<p>En CORSAVE cubrimos un amplio espectro en el diseño de interiores. Ofrecemos soluciones creativas y ambientalmente progresivas que crean un impacto duradero en los equipos de trabajo, negocios, y la marca de nuestros clientes.</p>"
      image="/assets/ddddd_482322d935.jpg"
      image_position="left"
    %}

    {% include sections/image-with-text.liquid
      heading="Habilitacion Urbana"
      text="<p>El uso de este tipo de equipos añadirá valor a su inversión a través de un aumento de rendimiento, fiabilidad y calidad en todos los proyectos que realice. Siendo nuestro compromiso el ofrecerle una amplia variedad, de equipo y maquinaria, versátiles y eficaces para cualquier tipo de labor.</p>"
      image="/assets/IMG_9169_b1ffb463d8.jpg"
      image_position="left"
    %}

    {% include sections/image-with-text.liquid
      heading="Arquitectura e Inmobiliaria"
      text="<p>Somos expertos consultores de obras en Arequipa y brindamos asesoramiento en todo lo que se refiere a proyectos arquitectónicos, civiles y de remodelación en general. Contamos con profesionales capacitados y experimentados que le ofrecerán su conocimiento y la calidad, seguridad y confianza que sus proyectos requieran.</p>"
      image="/assets/photo_building_9250b65df6.jpg"
      image_position="left"
    %}
  

    {% include sections/separator.liquid
      size="outer"
      image="/assets/footer_label_pc.svg"
      title=""
    %}
  </div>
</div>