.password {
  $this: &;

  &__logo-image {
    margin: auto;
    max-width: $logo-max-width;
  }

  &__logo {
    @include font-heading();

    width: 100%;

    text-align: center;
    font-size: font-size-heading(40px);
    margin-bottom: 10px;

    a {
      &:hover {
        color: get-color(primary);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__subheading {
    display: block;
    margin-bottom: 0;
    font-size: font-size(48px);
    text-align: center;
    color: get-color(on-background);
    margin-bottom: 24px;
  }

  &__description {
    text-align: center;
    font-size: font-size(16px);
    color: get-color(text-pale);
    margin-top: 16px;
    margin-bottom: 24px;
  }

  &__form-container {
    padding: 32px;
    max-width: 400px;
    width: 100%;
    background: get-color(background);
    border: 1px solid rgba(get-color(on-background-rgb), 0.15);
    border-radius: $input-border-radius;
  }

  &-form {
    &__label {
      font-size: font-size(24px);
      color: get-color(on-background);
    }

    &__input {
      flex-basis: 270px;
      flex-grow: 9999;
      padding: 8px;

      .input-field__input {
        border-radius: $input-border-radius;

        &::placeholder {
          color: rgba(get-color(on-background-rgb), .6);
        }
      }
    }

    &__button {
      flex-grow: 1;
      padding: 8px;
    }

    &__input-button-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: -8px;
      padding-top: 16px;
    }
  }

  &__error {
    margin-top: 8px;
    color: get-color(error);
  }

  &__footer {
    color: rgba(get-color(on-background-rgb), .5);
    text-align: center;
  }

  &__container {
    margin: auto;
  }

  &__list {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    @include media-query(md) {
      flex-direction: row;
    }

    &--socials {
      flex-direction: row;
    }
  }

  &__list-item {
    flex-shrink: 0;
  }

  &__socials {
    margin-top: auto;
  }

  &__social-link {
    display: block;
    position: relative;
    padding: 8px 16px;
    color: get-color(footer-link);

    @include media-query(md) {
      padding: 8px 18px;
    }

    &:hover {
      color: get-color(footer-link-hover);
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__social-badge {
    position: absolute;
    top: -10px;
    right: 8px;
    background-color: get-color(live-badge-background);
    color: get-color(live-badge-text);
    border-radius: 25px;
    animation: 5s blink ease infinite;
    transition-delay: 5s;
    padding: 0 6px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;

    @keyframes blink {
      from, to {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }
  }

  &__powered-by {
    margin-top: 24px;

    a {
      color: get-color(text-pale);
    }
  }

  &__close {
    position: absolute;
    top: -20px;
    right: -20px;
    color: get-color(on-background);
    cursor: pointer;
  }

  &__main {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s;
    width: 100%;
    height: 100vh;
    overflow: auto;
  }

  &__form {
    position: relative;
    text-align: left;

    &-newsletter {
      text-align: center;
      color: get-color(text-pale);
      margin-top: 48px;

      .newsletter-form {
        &__input {
          flex-basis: 260px;

          @include media-query(sm) {
            flex-basis: 230px;
          }
        }

        &__input-button-container {
          margin-top: 8px;
          flex-wrap: wrap;

          @include media-query(sm) {
            flex-wrap: nowrap;
          }
        }
      }
    }
  }

  &__body {
    max-width: 385px;
    margin: 0 auto;
    width: 100%;

    #{$this}__error {
      text-align: center;
    }
  }
}